# Hardhat / Sepolia
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
DEPLOYER_PRIVATE_KEY=0xyour_private_key_without_quotes
ETHERSCAN_API_KEY=your_etherscan_api_key_optional

# Frontend
VITE_SEPOLIA_CHAIN_ID=11155111
VITE_CARPASS_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
